{% extends 'base.html' %}
{% block content %}
<a href="{{ url_for('gerer_grand_galop') }}">
    <img src="{{ url_for('static', filename='img/fleche_retour.png') }}" alt="Flèche" class="float-start ms-3 mt-3" style="width:25px;height:auto;">
</a>
<div class="page" style="background-color: #ECF8F6;min-height: 92vh;">
    <div class="d-flex justify-content-center">
        <h1 class="fw-bolder display-4 m-4">Gérer les Poneys </h1>
    </div>
    <h3 class="mx-3">Liste des Poneys</h3>
    <div class="d-flex justify-content-center">
        <a href="{{url_for('ajout_poney')}}" class="btn-vert rounded-3" style="text-align: center;">Ajouter</a>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Poids</th>
                <th scope="col">Date de naissance</th>
                <th style="border: none;"></th> 
            </tr>
        </thead>
        <tbody>
             
            {% for poney in poneys %}
            <tr>
                <td>{{poney.nomPo}}</td>
                <td>{{poney.poidsMax}}</td>
                <td>{{poney.ddnPo}}</td>
                <td ><a href="{{url_for('ajout_poney',idPo = poney.idPo)}}" class="btn-vert rounded-3" style="margin:0;display: block; width: 100%; height: 100%;">Modifier</a></td>
                <td class="btn-vert"><a href="{{url_for('suppression_poney',idPo = poney.idPo)}}" class="btn-vert" style="margin:0;display: block; width: 100%; height: 100%;">Supprimer</a></td>
            </tr>
            {% endfor %}
        </tbody>
        
    </table>


</div>
{% endblock %}