{% extends "base.html" %}
{% block content %}
<a href="{{ url_for('home') }}">
    <img src="{{ url_for('static', filename='img/fleche_retour.png') }}" alt="Flèche" class="float-start ms-3 mt-3" style="width:25px;height:auto;">
</a>
<div class="container mt-4">
        <h1>Gérer Grand Galop</h1>
        <hr class="mb-4"/>
        <div class="row">
                <div class="col-md-4">
                        <h2>Adhérents</h2>
                        <a href="{{ url_for('gerer_adherents') }}" class="btn-vert mb-2  mx-3">Gérer</a>
                </div>
                <div class="col-md-4">
                        <h2>Moniteurs</h2>
                        <a href="{{ url_for('gerer_moniteurs') }}" class="btn-vert mb-2 mx-3">Gérer</a>
                </div>
                <div class="col-md-4">
                        <h2>Poneys</h2>
                        <a href="{{ url_for('gerer_poneys') }}" class="btn-vert mb-2  mx-3">Gérer</a>
                </div>
        </div>
</div>
{% endblock %}