{% extends 'base.html' %}
{% block content %}

<div class="d-flex justify-content-center m-5">
    <h1 class="fw-bolder display-4 m-4">Modifier le mot de passe de</h1>
</div>
<div class="d-flex justify-content-center m-5">
    {% if user.id_role == 1 %}
    <h2 class="fw-bolder"> Adhérent : {{user.prenom_utilisateur}}, {{user.nom_utilisateur}}</h2>
    {% elif user.id_role == 2 %}
    <h2 class="fw-bolder"> Administrateur : {{user.prenom_utilisateur}}, {{user.nom_utilisateur}}</h2>
    {% elif user.id_role == 3 %}
    <h2 class="fw-bolder"> Moniteur : {{user.prenom_utilisateur}}, {{user.nom_utilisateur}}</h2>
    {% endif %}
</div>
<div class="mx-auto w-25 d-flex flex-column align-items-center div-dark rounded-4 mb-3 p-4">
    <form class="w-75" method="post" action="{{ url_for('modifier_mdp', id_user = id_user)}}">
        {{ form.hidden_tag() }} 
        <div class="mb-5 form-group">
            <label class="color_white mb-2" for="name">Identifiez-vous</label>
            {{ form.user_password(class_ ="form-control", placeholder="Entrez votre mot de passe") }}
        </div>
        <div class="mb-2 form-group">
            <label class="color_white mb-2" for="name">{{ form.new_password.label }}</label>
            {{ form.new_password(class_ ="form-control") }}  
        </div>
        <div class="mb-2 form-group">
            <label class="color_white mb-2" for="name">{{ form.confirm_password.label }}</label>
            {{ form.confirm_password(class_ ="form-control") }}
        </div>
        <div class="mb-2 form-group">
            <button class="btn btn-base fw-bolder" type="submit">Enregistrer</button>
        </div>
    </form>
</div>

{% endblock %}