<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<body>
    <table>
      <thead>
        <tr>
          <th>Heure</th>
          <th>Lundi</th>
          <th>Mardi</th>
          <th>Mercredi</th>
          <th>Jeudi</th>
          <th>Vendredi</th>
          <th>Samedi</th>
          <th>Dimanche</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>08:00 - 09:00</td>
          <td>Activité A</td>
          <td>Activité B</td>
          <td>Activité C</td>
          <td>Activité D</td>
          <td>Activité E</td>
          <td>Activité F</td>
          <td>Activité G</td>
        </tr>
        <tr>
          <td>09:00 - 10:00</td>
          <td>Activité H</td>
          <td>Activité I</td>
          <td>Activité J</td>
          <td>Activité K</td>
          <td>Activité L</td>
          <td>Activité M</td>
          <td>Activité N</td>
        </tr>
        <tr>
          <td>10:00 - 11:00</td>
          <td>Activité O</td>
          <td>Activité P</td>
          <td>Activité Q</td>
          <td>Activité R</td>
          <td>Activité S</td>
          <td>Activité T</td>
          <td>Activité U</td>
        </tr>
        <tr>
          <td>11:00 - 12:00</td>
          <td>Activité V</td>
          <td>Activité W</td>
          <td>Activité X</td>
          <td>Activité Y</td>
          <td>Activité Z</td>
          <td>Activité AA</td>
          <td>Activité AB</td>
        </tr>
        <tr>
          <td>12:00 - 13:00</td>
          <td>Déjeuner</td>
          <td>Déjeuner</td>
          <td>Déjeuner</td>
          <td>Déjeuner</td>
          <td>Déjeuner</td>
          <td>Déjeuner</td>
          <td>Déjeuner</td>
        </tr>
        <tr>
          <td>13:00 - 14:00</td>
          <td>Déjeuner</td>
          <td>Déjeuner</td>
          <td>Déjeuner</td>
          <td>Déjeuner</td>
          <td>Déjeuner</td>
          <td>Déjeuner</td>
          <td>Déjeuner</td>

        </tr>
        <tr>
          <td>14:00 - 15:00</td>
          <td>Activité AL</td>
          <td>Activité AM</td>
          <td>Activité AN</td>
          <td>Activité AO</td>
          <td>Activité AP</td>
          <td>Activité AQ</td>
          <td>Activité AR</td>
        </tr>
        <tr>
          <td>15:00 - 16:00</td>
          <td>Activité AS</td>
          <td>Activité AT</td>
          <td>Activité AU </td>
          <td>Activité AI</td>
          <td>Activité AJ</td>
          <td>Activité AR</td>
          <td>Activité AL</td>
        </tr>
        <tr>
          <td>16:00 - 17:00</td>
          <td>Activité AM</td>
          <td>Activité AN</td>
          <td>Activité AO</td>
          <td>Activité AP</td>
          <td>Activité AQ</td>
          <td>Activité AR</td>
          <td>Activité AS</td>
        </tr>
        <tr>
          <td>17:00 - 18:00</td>
          <td>Activité AT</td>
          <td>Activité AU</td>
          <td>Activité AV</td>
          <td>Activité AW</td>
          <td>Activité AX</td>
          <td>Activité AY</td>
          <td>Activité AZ</td>
        </tr>
{% endblock%}