<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<form method="post" action="{{ url_for('planning') }}" >
  {% for cour in cours %}
  
    {{ cour.nomCo }}
    {{ cour.collectif }}
    {{ cour.nbPersonne }}
    {% if cour.heureDebut.strftime('%H:%M:%S') > "08:00:00.000000" %}
      <td>Activité B</td>
    {% endif %}
  
    {{ cour.heureDebut }}
    {{ cour.duree }}
    {{ cour.date.strftime('%A') }}
  {% endfor %}
</form>

  <script>  

    function afficherJourEtNumero() {
      const today = new Date();
      let numeroJour = today.getDate(); // numéro du jour 
      let numeroMois = today.getMonth() + 1; // numéro du mois
      let numeroAnnee = today.getFullYear(); // numéro de l'année

      let numeroJourSemaineSuiv = today.getDate(); // numéro du jour de la semaine
      numeroJourSemaineSuiv = parseInt(numeroJourSemaineSuiv) + 7;

      if (numeroJourSemaineSuiv > 30) {
        numeroJourSemaineSuiv = numeroJourSemaineSuiv - 30;
      }

      let numeroMoisSuiv = today.getMonth() + 1; // numéro du mois

      if (numeroMoisSuiv > 12) {
        numeroMoisSuiv = numeroMoisSuiv - 12 ;
      }
    
      const joursSemaine = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'];
      const jourSemaine = joursSemaine[today.getDay()]; // jour de la semaine 
    
      document.getElementById("numero-jour-mois").textContent = numeroJour + "/" + numeroMois+ "/" + numeroAnnee;
      document.getElementById("numero-jour-mois-suiv").textContent = numeroJourSemaineSuiv + "/" + numeroMoisSuiv + "/" + numeroAnnee;
      

    }


  </script> 
  <body onload="afficherJourEtNumero()">

    <div class="d-flex justify-content-center">
      <div >
        <h1 class="mr-5 text-center">Planning</h1>
        <h3>Semaine du <span id="numero-jour-mois"></span> au  <span id="numero-jour-mois-suiv"></span></h3> 
  
      </div>

    </div>
    

    
    <br>
    
    <table>
      <thead>
        <th>Horaire</th>
        {% for jour in jours %}
            <th>{{ jour }}</th>
        {% endfor %}
      </thead>
      <tbody>
        {% for horaire in horaires %}
        <tr>

          
            <td id="{{ horaire.id }}">{{ horaire.plage }}</td>
            
            {% set cours_trouve = false %}
            {% for cour in cours %}
                {% if cour.heureDebut.strftime('%H')|int == horaire.id %}
                    <td>{{ cour.nomCo }}</td>
                    {% set cours_trouve = true %}
                {% endif %}
            {% endfor %}
            
            {% if not cours_trouve %}
                <td></td>
            {% endif %}
            
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% endfor %}
    </tbody>
    
    </table>
  </body>
</form>

{% endblock%}