<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<div class="page" style="background-color: #ECF8F6;min-height: 92vh;">
    <div class="d-flex justify-content-center">
        <h1 class="fw-bolder display-4 m-4">Modifier le profil</h1>
    </div>

    <div class="mx-auto w-50 d-flex flex-column align-items-center div-dark rounded-4 mb-3 p-4" style="background-color:white;max-width: 600px;">
        <form class="w-100" method="post" action="{{ url_for('modifier_profil') }}" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="text-center mb-3">
                <img
                    src="{{ url_for('static', filename='img/profil/' ~ current_user.img_utilisateur)}}"
                    alt="profil"
                    class="img-fluid rounded-circle"
                    style="width: 150px; height: 150px"
                />
                <div>
                    <label for="modif_pp" 
                           class="col-md-8 form-group btn btn-outline-light mt-4 fw-bold"
                           style="font-size: 14px; padding: 5px 10px; width: 200px; height: 48px;color:grey;">
                        {{ form.img.label(style="font-size:20px") }} 
                        {{ form.img(size=25, class_="w-25 invisible btn btn-outline-light mt-2 fw-bold") }}
                    </label>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-4 color_white mb-2" for="name">{{ form.nom_user.label }}</label>
                    <div class="col-sm-8">    
                        {{ form.nom_user(class_ ="form-control") }}
                    </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-4 color_white mb-3" for="firstname">{{ form.prenom_user.label }}</label>
                <div class="col-sm-8">
                    {{ form.prenom_user(class_ ="form-control") }}
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-4 color_white mb-3" for="firstname">{{ form.email.label }}</label>
                <div class="col-sm-8">
                    {{ form.email(class_ ="form-control") }}
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-4 color_white mb-3" for="numero">{{ form.telUser.label }}</label>
                <div class="col-sm-8">
                    {{ form.telUser(class_ ="form-control") }}
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-4 color_white mb-3" for="poids">{{ form.poidsUser.label }}</label>
                <div class="col-sm-8">
                    {{ form.poidsUser(class_ ="form-control") }}
                </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-success fw-bolder px-4 py-1" style="margin-top:30px" type="submit">Enregistrer</button>
            </div>
        </form>
        <button class="btn btn-danger mt-3 fw-bolder px-2.8 py-1">
            <a href={{url_for('logout')}} style="text-decoration: none; color: inherit;">Se déconnecter</a>
        </button>
    </div>
</div>

{% endblock %}
