<!doctype html>
<html lang="fr">
    <head>
    {% block head %}
        <title>Grand Galop</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block styles %}
        <link rel="stylesheet", href="{{ url_for('static',filename='navbar.css') }}">
        {% endblock %}
    {% endblock %}
    </head>
    <header>
        <ul>
            <li>
                <div class="image_titre">
                    <img src=" {{ url_for('static', filename='img/logo_cheval.jpeg') }}" alt="logo du cheval"> 
                    <h2>Grand Galop</h2>
                </div>
            </li>
            <li>
                <div class="boutons">
                    <button class="inscription">inscription</button>               
                    <button class="connexion">Se connecter</button>
                </div>             
            </li>
        </ul>
    </header>
    <body>
        <div class="content">
        {% block content %}   
        {% endblock %}
        </div>
    </body>
</html>