nav{
    border-bottom-width: 1cm  !important;
    border-bottom-color: #050B25;
    justify-content: space-between !important;
}

.btn-vert{
    background-color: #18534F;
    padding: 11px;
    text-decoration: none;
    font-size: 1.3em;
    color: white;
}

.btn-modifier{
    border: 3px solid #18534F;
    border-radius: 100px;
    background-color: white;
    color: #18534F;
    padding: 13px;
    font-size: larger;
    font-weight: bolder;
}

.btn-supprimer{
    border: 3px solid #531819;
    border-radius: 100px;
    background-color: white;
    color: #531819;
    padding: 13px;
    font-size: larger;
    font-weight: bolder;
}

body {
    font-size: small;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

table {
    border: medium solid black;
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    background-color: white;
}

table tr th, table tr td {
    text-align: center;
    padding: 10px;
}

table tr th {
    border: medium solid black;
    background-color: #18534F;
    font-weight: bold;
    color: white;
}

table tr td {
    border: thin solid gray;
}
.aucun {
    border: none;
}