nav{
    border-bottom-width: 1cm  !important;
    border-bottom-color: #050B25;
    justify-content: space-between !important;
}

.btn-vert{
    background-color: #18534F;
    padding: 11px;
    text-decoration: none;
    font-size: 1.3em;
    color: white;
}

.btn-modifier{
    border: 3px solid #18534F;
    border-radius: 100px;
    background-color: white;
    color: #18534F;
    padding: 13px;
    font-size: larger;
    font-weight: bolder;
}

.btn-supprimer{
    border: 3px solid #531819;
    border-radius: 100px;
    background-color: white;
    color: #531819;
    padding: 13px;
    font-size: larger;
    font-weight: bolder;
}